{% extends 'base.html.twig' %}
{% block body %}
{% include 'default/header.html.twig' %}
    <h1>Editar Transportadora {{transportadora.getNome()}}</h1>

    {% for type, flash_messages in app.session.flashBag.all %}
        {% for flash_message in flash_messages %}
            <div class="alert alert-{{ type }}">
                {{ flash_message }}
            </div>
        {% endfor %}
    {% endfor %}    

  <div class="form-group">
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-primary" type="submit" value="Salvar" />        
    <a class="btn btn-info"href="{{ path('transportadora_changestatus', { 'id': transportadora.id }) }}">Alterar Status</a>
        <a class="btn btn-warning" href="{{ path('transportadora_index') }}">Voltar para listagem.</a>
    {{ form_end(edit_form) }}


    <br /><br />
    {{ form_start(delete_form, {'attr': {'onclick': 'return confirm("Tem certeza que deseja remover esta Transportadora (e suas respectivas Faixas de CEP) ?")'}}) }}
        <input class="btn btn-danger" type="submit" value="Deletar Transportadora">
    {{ form_end(delete_form) }}

</div>
{% endblock %}
