{% extends 'base.html.twig' %}
{% block body %}
{% include 'default/header.html.twig' %}
    <h1>Transportadoras</h1>

{% for type, flash_messages in app.session.flashBag.all %}
    {% for flash_message in flash_messages %}
        <div class="alert alert-{{ type }}">
            {{ flash_message }}
        </div>
    {% endfor %}
{% endfor %}    


<div class="row">
        <div class="col-md-12">            
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>CNPJ</th>                
                            <th>Status</th>                
                            <th>Ver/Editar/Ativar ou Inativar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if transportadoras is not null and transportadoras is not empty %}    
                            {% for transportadora in transportadoras %}
                                <tr>
                                    <td><a href="{{ path('transportadora_show', { 'id': transportadora.id }) }}">{{ transportadora.id }}</a></td>
                                    <td>{{ transportadora.nome }}</td>
                                    <td>{{ transportadora.cnpj }}</td>
                                    <td>{{ (transportadora.status==1) ? 'Ativa':'Inativa'}}</td>
                                    <td>
                                        <ul>
                                            <li>
                                                <a href="{{ path('transportadora_show', { 'id': transportadora.id }) }}"><span style="font-size:20px" class="glyphicon glyphicon-sunglasses fa-lg"></a>
                                                <a href="{{ path('transportadora_edit', { 'id': transportadora.id }) }}"><span style="font-size:20px"; class="glyphicon glyphicon-edit"></span></a>
                                                <a href="{{ path('transportadora_changestatus', { 'id': transportadora.id }) }}">
                                                    <span style="font-size:20px"; 
                                                    class="{{ 
                                                                (transportadora.status==1) ? 
                                                                    'glyphicon glyphicon-ban-circle'
                                                                :
                                                                    'glyphicon glyphicon-ok'
                                                            }}
                                                    "></span></a>
                                                
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td> <br />
                                    <span class="alert alert-warning">
                                        No momento, não há nenhuma Transportadora cadastrada.
                                    </span>
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
        </div>
</div>                
    <ul>
        <li>
            <a class="btn btn-primary" href="{{ path('transportadora_new') }}">Criar nova Transportadora</a>
        </li>
    </ul>
{% endblock %}
    