{% extends 'base.html.twig' %}
{% block body %}
{% include 'default/header.html.twig' %}
    <h1>Cadastrar nova Transportadora</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-primary" type="submit" value="Salvar" />
    {{ form_end(form) }}
    <a class="btn btn-warning" href="{{ path('transportadora_index') }}">Voltar para Listagem</a>
    
{% endblock %}
