{% extends 'base.html.twig' %}
{% block body %}
{% include 'default/header.html.twig' %}
    <h1>Informações da Transportadora {{transportadora.getNome()}}</h1>

{% for type, flash_messages in app.session.flashBag.all %}
    {% for flash_message in flash_messages %}
        <div class="alert alert-{{ type }}">
            {{ flash_message }}
        </div>
    {% endfor %}
{% endfor %}    



    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ transportadora.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ transportadora.nome }}</td>
            </tr>
            <tr>
                <th>CNPJ</th>
                <td>{{ transportadora.cnpj }}</td>
            </tr>

            <tr>
                <th>Status</th>                
                <td>{{ (transportadora.status==1) ? 'Ativa':'Inativa'}}</td>
            </tr>
        </tbody>
    </table>

            <a class="btn btn-warning" href="{{ path('transportadora_index') }}">Voltar para listagem</a>
            <a class="btn btn-info"href="{{ path('transportadora_changestatus', { 'id': transportadora.id }) }}">Alterar Status</a>
    
            <a class="btn btn-primary" href="{{ path('transportadora_edit', { 'id': transportadora.id }) }}">Editar Transportadora</a>
            <br/><br/>

            {{ form_start(delete_form, {'attr': {'onclick': 'return confirm("Tem certeza que deseja remover esta Transportadora (e suas respectivas Faixas de CEP) ?")'}}) }}
                <input class="btn btn-danger" type="submit" value="Deletar esta Transportadora">
            {{ form_end(delete_form) }}
            

            
                
            
    
{% endblock %}