<!DOCTYPE html>
<html lang="en">
<head>
  <title>Flexy - Calculo de Frete</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ path('frete_calcular') }}">Flexy - C&aacute;lculo de frete</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{{ path('frete_calcular') }}">Calcular Frete</a></li>
      <li><a href="{{ path('transportadora_index') }}">Transportadoras</a></li>
      <li><a href="{{ path('transportadoracep_index') }}">Faixas de CEP</a></li>
      <li><a href="{{logout_path(app.security.token.providerKey)}}">Sair</a></li>
    </ul>
  </div>
</nav>  
<div class="container">
