{% extends 'base.html.twig' %}
{% block body %}
{% include 'default/header.html.twig' %}
    <h1>Editar Faixa de CEP</h1>    
    
    {% for type, flash_messages in app.session.flashBag.all %}
        {% for flash_message in flash_messages %}
            <div class="alert alert-{{ type }}">
                {{ flash_message }}
            </div>
        {% endfor %}
    {% endfor %}    

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-primary" type="submit" value="Salvar" />
        <a class="btn btn-warning" href="{{ path('transportadoracep_index') }}">Voltar para Listagem</a>    

    {{ form_end(edit_form) }}
	
	<br /> <br />
    {{ form_start(delete_form, {'attr': {'onclick': 'return confirm("Tem certeza que deseja remover esta Faixa de CEP?")'}}) }}
                <input class="btn btn-danger" type="submit" value="Deletar faixa de CEP">
    {{ form_end(delete_form) }}    
    <br /> <br />

    
{% endblock %}
