{% extends 'base.html.twig' %}
{% block body %}
{% include 'default/header.html.twig' %}
    <h1>Faixas de CEP</h1>

{% for type, flash_messages in app.session.flashBag.all %}
    {% for flash_message in flash_messages %}
        <div class="alert alert-{{ type }}">
            {{ flash_message }}
        </div>
    {% endfor %}
{% endfor %}     

<div class="row">
        <div class="col-md-12">            
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Transportadora</th>
                            <th>Inicio da Faixa de Cep</th>
                            <th>Fim da Faixa de Cep</th>
                            <th>Ver/Editar</th>
                        </tr>
                    </thead>
                        <tbody>
                            {% if transportadoraCeps is not null and transportadoraCeps is not empty %}
                                {% for transportadoraCep in transportadoraCeps %}
                                    <tr>
                                        <td><a href="{{ path('transportadoracep_show', { 'id': transportadoraCep.id }) }}">{{ transportadoraCep.id }}</a></td>
                                        <td>{{ transportadoraCep.getTransportadora().getNome() }}</td>
                                        <td>{{ transportadoraCep.cepInicial }}</td>
                                        <td>{{ transportadoraCep.cepFinal }}</td>
                                        
                                        <td>
                                            <ul>
                                                <li>
                                                    <a href="{{ path('transportadoracep_show', { 'id': transportadoraCep.id }) }}"><span style="font-size:20px" class="glyphicon glyphicon-sunglasses fa-lg"></span></a>
                                                    <a href="{{ path('transportadoracep_edit', { 'id': transportadoraCep.id }) }}"><span style="font-size:20px"; class="glyphicon glyphicon-edit"></span></a>

                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                            <tr>
                                <td> <br />
                                    <span class="alert alert-warning">
                                        No momento, não há nenhuma Faixa de CEP cadastrada.
                                    </span>
                                </td>
                            </tr>
                        {% endif %}

                    </tbody>
                </table>
        </div>
</div>        
    <ul>
        <li>
            <a class="btn btn-primary" href="{{ path('transportadoracep_new') }}">Criar nova Faixa de CEP</a>
        </li>
    </ul>
{% endblock %}
