{% extends 'base.html.twig' %}
{% block body %}
{% include 'default/header.html.twig' %}
    <h1>Inserir Faixa de CEP</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-primary" type="submit" value="Salvar" />
        <a class="btn btn-warning" href="{{ path('transportadoracep_index') }}">Voltar para listagem</a>
    {{ form_end(form) }}

    
{% endblock %}
