{% extends 'base.html.twig' %}
{% block body %}
{% include 'default/header.html.twig' %}

    <h1>Informações da Faixa de CEP</h1>
    {% for type, flash_messages in app.session.flashBag.all %}
        {% for flash_message in flash_messages %}
            <div class="alert alert-{{ type }}">
                {{ flash_message }}
            </div>
        {% endfor %}
    {% endfor %}     

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ transportadoraCep.id }}</td>
            </tr>
            <tr>
                <th>Transportadora</th>
                <td>{{ transportadoraCep.getTransportadora.getNome() }}</td>
            </tr>

            <tr>
                <th>Cepinicial</th>
                <td>{{ transportadoraCep.cepInicial }}</td>
            </tr>
            <tr>
                <th>Cepfinal</th>
                <td>{{ transportadoraCep.cepFinal }}</td>
            </tr>
            <tr>
                <th>Pesoinicial</th>
                <td>{{ transportadoraCep.pesoInicial }}</td>
            </tr>
            <tr>
                <th>Pesofinal</th>
                <td>{{ transportadoraCep.pesoFinal }}</td>
            </tr>
            <tr>
                <th>Valorkg</th>
                <td>{{ transportadoraCep.valorKg }}</td>
            </tr>
            <tr>
                <th>ValorkgAdicional</th>
                <td>{{ transportadoraCep.valorKgAdicional }}</td>
            </tr>
            <tr>
                <th>Prazo</th>
                <td>{{ transportadoraCep.prazo }}</td>
            </tr>
            <tr>
                <th>Prazo Adicional</th>
                <td>{{ transportadoraCep.prazoAdicional }}</td>
            </tr>
            <tr>
                <th>Razão de Peso Adicional</th>
                <td>{{ transportadoraCep.razaoPesoAdicional }}</td>
            </tr>
        </tbody>
    </table>

            <a class="btn btn-warning" href="{{ path('transportadoracep_index') }}">Voltar para listagem</a>
            <a class="btn btn-primary" href="{{ path('transportadoracep_edit', { 'id': transportadoraCep.id }) }}">Editar Faixa de CEP</a>
            <br/><br/>
            {{ form_start(delete_form, {'attr': {'onclick': 'return confirm("Tem certeza que deseja remover esta Faixa de CEP?")'}}) }}
                <input class="btn btn-danger" type="submit" value="Deletar esta Faixa de CEP">
            {{ form_end(delete_form) }}
{% endblock %}
