{% trans_default_domain 'FOSUserBundle' %}

{#https://www.cloudways.com/blog/overriding-default-fosuserbundle-templates/#d#}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post" id="signin" class="navbar-form navbar-right" role="form">

    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>        
        <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" required="required" />
    </div>

    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
      <input type="password" id="password" name="_password" required="required" class="form-control" placeholder="Password" />    
    </div>    
    <input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
</form>
