{# include 'default/header.html.twig' #}
<head>
  <title>Flexy - Calculo de Frete</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>



<div class="container center-block" >
    	<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-9">
								<h4> Bem vindo! Efetue sua autenticação no sistema utilizando o formulário abaixo: </h4>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-8">								
								{% block fos_user_content %}{% endblock %}
							</div>

						</div>
						<div class="alert alert-warning" role="alert">
  Usuário/senha de testes: flexy / flexypw 
</div>
					</div>
				</div>
			</div>
		</div>
	</div>

