input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #F5F5F5;
    color: #737373;
}
ul, li {
  list-style-type: none;
}

