{% include 'default/header.html.twig' %}

{% javascripts '@AppBundle/Resources/public/js/*' %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}

<form class="form-horizontal" action='calcular' method='POST'>
    <fieldset>
        <!-- Form Name -->
        <legend><h1>Calcular Frete</h1></legend>
          <span> Informe abaixo os dados para cálculo do Frete: </span>
            
            <!-- CEP -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="CEP">CEP</label>  
              <div class="col-md-4">
              <input id="CEP" name="cep" type="text" placeholder="CEP" class="form-control input-md" value="{{cep}}">
              <span class="help-block">formato "00000000"</span>  
              </div>
            </div>
            
            <!-- PESO -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="Peso">Peso (em Kg)</label>  
              <div class="col-md-4">
              <input id="Peso" name="peso" type="text" placeholder="Kg" class="form-control input-md" value="{{peso}}">
              <span class="help-block">Ex.: 1.5</span>  
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" for="singlebutton"></label>
              <div class="col-md-4">
                <button id="singlebutton" name="singlebutton" class="btn btn-primary">Calcular Frete</button>
              </div>
            </div>
            <ul>
            {% for error in errors %}
                <li>{{ error.message }}</li>
            {% endfor %}
            </ul>
    </fieldset>
</form>

{% if resultados is not null and resultados is not empty %}    
<div class="container">
    <div class="row">
        <div class="col-md-12">            
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Transportadora
                        </th>
                        <th>
                            Prazo Total
                        </th>
                        <th>
                            Valor Final
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for transportadoraCep in resultados %}                    
                    <tr class="active">
                        <td>
                            {{ transportadoraCep.transportadora.nome }}
                        </td>
                        <td>
                            {{ transportadoraCep.getPrazoFinal(peso) }} dias
                        </td>
                        <td>
                            R$ {{ "%.2f"|format(transportadoraCep.getValorFinal(peso)) }}
                        </td>
                    </tr>

                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>     
</div>

{% endif %}

{% include 'default/bottom.html.twig' %}